{% extends "index.html" %}
{% block content %}

<style>
    .container {
        
        positon: flex;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 300px;
        height: 35%;
        margin-top: 15px;
        
        background-color: rgba(255, 255, 255, 0.297);
        border-radius: 10px;
        backdrop-filter: blur(10px);
        border: 2px solid rgba(255, 255, 255, 0.1);
        box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    }

    .container-background{
        margin-top: 20%; 
        margin-left: 37%;

    }

</style>



<div class="container-background">
    <image style='width: 200px; height: 50%; margin-left:50px;' src='static/images/estrelas1.png'>

    {% for text in texts %}
<div class="container">
    <p> {{ text }} </p>
</div>
{% endfor %}
    
</div>


{% endblock %}